# R files
.RData
.Rhistory
*.Rproj
.Rproj.user

# Data files
raw-data/
processed-data/
output/
*.rds
*.RDS
*.csv
*.tsv

# Image folders (para tus imágenes locales)
img/

# System files
.DS_Store
Thumbs.db