# Ignore raw sequencing data
raw-data/
# Ignore processed large data
processed-data/

# R files
.RData
.Rhistory
*.Rproj
.Rproj.user

# Data files
*.rds
*.RDS
*.csv
*.tsv

# Image folders (para tus imágenes locales)
img/

# System files
.DS_Store
Thumbs.db